Externals/
.gitignore~
bin/EASYSCAN.LOG
bin/NonUniversal3000.ini
bin/NonUniversal3000.ini.grid
bin/*~
bin/NonUniversal3000.ini.random
bin/NonUniversal3000.ini.read
bin/USM_NonUniversal_3000/
bin/test_gd/
bin/test_mcmc/
bin/test_ms/
bin/test_rd/
src/.mainfun.py.swp
src/*~
Internals/MultiNest/
EASYSCAN.LOG
Externals/susyhit
Internals/install_test/
bin/mu_n_1/
EXAMPLE/input.txt
EXAMPLE/output.txt
*~
*.pyc
*EASYSCAN.LOG
example*/*
utils/*_output.dat
utils/susyhit/
utils/micromegas/
