include LICENSE
include README.rst
include bin/easyscan.py
recursive-include scripts *.py
recursive-include ui/templates *.html
recursive-include ui/static *.css *.js
recursive-include templates *.ini *.txt
include utils/TestFunction.py
include utils/TestFunction_input.dat
include utils/OnePointBatch.in
include utils/MSSM_mW/for_MSSM_mW.susyhit
include utils/MSSM_mW/hbounds.txt
include utils/MSSM_mW/makefile
